<!DOCTYPE html>
<html>
<head>
    <title> Sub Query Number 3</title>
</head>
<body>
<h1>Sub Query Number 3</h1>
<table border="3">
    <tr>
        <th>Coach Name</th>
    </tr>
    <% for (var i = 0; i < results.length; i++) {%>
    <td><%= results[i].team_name %></td>
    <%} %>
</table>
</body>
</html>