<!DOCTYPE html>
<html>
<head>
    <title> Sub Query Number 5</title>
</head>
<body>
<h1>Sub Query</h1>
<table border="3">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>

    <% for (var i = 0; i < results.length; i++) {%><tr>

        <td><%= results[i].first_name %></td>
        <td><%= results[i].last_name %></td>
        <%} %>
    </tr>
</table>
</body>
</html>