<!DOCTYPE html>
<html>
<head>
    <title> Sub Query Number 7</title>
</head>
<body>
<h1>Sub Query</h1>
<table border="3">
    <tr>
        <th>Total</th>

    </tr>

    <% for (var i = 0; i < results.length; i++) {%><tr>

        <td><%= results[i].total %></td>
        <%} %>
    </tr>
</table>
</body>
</html>