<!DOCTYPE html>
<html>
<head>
    <title> Sub Query Number 9</title>
</head>
<body>
<h1>Sub Query Number 9</h1>
<table border="3">
    <tr>
        <th>Team Name</th>

    </tr>

    <% for (var i = 0; i < results.length; i++) {%>
    <tr>
        <td><%= results[i].team_name %></td>
        <%} %>
    </tr>
</table>
</body>
</html>