<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="stadium/all">View Stadium's Page</a>
    <br>
    <a href="/team/all">View Team's Page</a>
    <br>
    <a href="/players/all">View Player's Page</a>
    <br>
    <a href="/coach/all">View Coaches Page</a>
    <br>
    <a href="/games/all">View Games Page</a>
    <br>
    <a href="/SubQ/query_1">SubQ num 1 </a>
    <br>
    <a href="/SubQ/query_2">SubQ num 2 </a>
    <br>
    <a href="/SubQ/query_3">SubQ num 3 </a>
    <br>
    <a href="/SubQ/query_4">SubQ num 4 </a>
    <br>
    <a href="/SubQ/query_5">SubQ num 5 </a>
    <br>
    <a href="/SubQ/query_6">SubQ num 6 </a>
    <br>
    <a href="/SubQ/query_7">SubQ num 7 </a>
    <br>
    <a href="/SubQ/query_8">SubQ num 8 </a>
    <br>
    <a href="/SubQ/query_9">SubQ num 9 </a>
    <br>
    <a href="/SubQ/query_10">SubQ num 10 </a>



    </body>
</html>
