<!DOCTYPE html>
<html>
<head>
    <title>Teams - Add</title>
</head>
<body bgcolor="#ff7f50">
<h1>Add New Teams</h1>
<form action="/team/insert" method="get">
    Team Name: <input name="team_name" type="text"/>
    <br/>
    <input type="submit"/>
</form>
</body>
</html>